/*!
 * com_akquickicons
 *
 * Copyright 2012 Asikart.com
 * License GNU General Public License version 2 or later; see LICENSE.txt, see LICENSE.php
 *
 * Generator: AKHelper
 * Author: Asika
 */


/* GLOBAL */


/* BODY */


/* TYPO */


/* LAYOUT */


/* CONTENT */


/* FILTER */


/* TABLE */


/* FORM */
#icon-form .nav-pills .dropdown-menu a {
	color: #111;
}

#icon-form .nav-pills .open .dropdown-toggle {
	background-color: transparent;
	color: #111;
}

/* FOOTER */


