.cpanel .icon {
	float: left;
	padding: 5px 0 5px 10px;
	margin: 0;
	text-align: center;
}

.cpanel .icon a {
	background-color: #F9F9F9;
	background-position: -30px;
	display: block;
	float: left;
	height: 107px;
	width: 107px;
	padding: 7px;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-property: background-position, -webkit-border-bottom-left-radius, -webkit-box-shadow;
	-moz-transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	box-sizing: content-box;
}

.cpanel .icon a i {
	margin: 0;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
	background-color: whiteSmoke ;
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

#cpanel span, .cpanel span {
	display: block;
	text-align: center;
}

#cpanel span.label,
.cpanel span.label {
	display: inline;
}

#cpanel img, .cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

.akquickicons-tabs.nav-tabs > li.active > a {
	background-color: whiteSmoke;
}

.aqi-module i
{
	padding: 10px 0;
	font-size: 48px;
}

.aqi-module a .fa
{
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

.aqi-module a:hover .fa
{
	color: #005580;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
}

.aqi-module a [class^="icon-"],
.aqi-module a [class*=" icon-"]
{
	padding: 10px 0;
	width: auto;
	height: auto;
	line-height: 100%;
}

.aqi-module.joomla30-layout i
{
	width: 16px;
	font-size: 16px;
	padding: 0;
	margin-right: 5px;
}

.aqi-module.joomla30-layout img
{
	width: 16px;
	padding: 0;
	margin-right: 5px;
}

@media screen and (max-width: 768px) {
	.cpanel div.icon a {
		padding: 5px;
	}
}